<p id="notice"><%= notice %></p>

<h1>Listing Ref Type Fields</h1>

<table>
  <thead>
    <tr>
      <th>Tyyppi</th>
      <th>Kenttä</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ref_type_fields.each do |ref_type_field| %>
      <tr>
        <td><%= link_to ref_type_field.reftype.name, ref_type_field %></td>
        <td><%= ref_type_field.ref_attribute.name %></td>
        <td><%= "pakollinen" if ref_type_field.required? %></td>
        <td><%= link_to 'Muokkaa', edit_ref_type_field_path(ref_type_field) %></td>
        <td><%= link_to 'Poista', ref_type_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ref type field', new_ref_type_field_path %>
