<%= form_for(@ref_attribute) do |f| %>
  <% if @ref_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ref_attribute.errors.count, "error") %> prohibited this ref_attribute from being saved:</h2>

      <ul>
      <% @ref_attribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
